<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="viggo" />
  <title> <% if(page.title){ %>
          <%= page.title %>
          <%= '|' %>
          <% } else { %>
          <% } %>
          <%= config.title %>
  </title>
  <meta name="keywords" content="<%= config.keywords %>">
  <meta name="description" content="<%= page.description%>,<%= config.description %>">
  <link rel="shortcut icon" href="<%= theme.favicon %>">
  <%- css(Object.values(theme.css)) %>
  <%- js(theme.js.jquery) %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
        <%- js(theme.js.html5shiv) %>
        <%- js(theme.js.respond) %>
    <![endif]-->
  <!-- / FB Open Graph -->
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:title" content="<%= config.title %> - <%= config.subtitle %>">
  <meta property="og:description" content="<%= config.description %>">
  <meta property="og:site_name" content="<%= config.title %> - <%= config.subtitle %>">
  <% if (theme.banner) { %>
  <meta property="og:image" content="<%= theme.banner %>">
  <% } %>
  <!-- / Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= config.title %> - <%= config.subtitle %>">
  <meta name="twitter:description" content="<%= config.description %>">
  <% if (theme.banner) { %>
  <meta name="twitter:image" content="<%= theme.banner %>">
  <% } %>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>

  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>

  <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
  <script src="/js/prettify.js"></script>
  <link rel="stylesheet" href="/css/<%= theme.code_theme %>.css">
  <link rel="stylesheet" href="/css/<%= theme.code_theme %>.min.css">
  <link rel="stylesheet" href="/css/my.css">
  <script>
    Date.prototype.Format = function (fmt) {
      var o = {
              "M+": this.getMonth() + 1,
              "d+": this.getDate(),
              "h+": this.getHours(),
              "m+": this.getMinutes(),
              "s+": this.getSeconds(),
              "q+": Math.floor((this.getMonth() + 3) / 3),
              "S": this.getMilliseconds()
      };
      if (/(y+)/.test(fmt))
          fmt = fmt.replace(RegExp.$1, (this.getFullYear() + ""));
      for (var k in o)
          if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
      return fmt;
    }
  </script>
</head>