<body class="page-body boxed-container">
  <nav class="navbar horizontal-menu navbar-fixed-top">
    <div class="navbar-inner">
      <div class="navbar-brand">
        <a href="/index.html" class="logo">
          <img src="<%= theme.logo.dark %>" width="180px" alt="" class="hidden-xs">
        </a>
      </div>
      <div class="navbar-mobile-clear"></div>
      <% if (theme.githubCorner) { %>
      <%- theme.githubCorner %>
      <% } %>
    </div>
  </nav>
  <!--
  <aside class="post-widget">
    <nav>
      <h4>TOC</h4>
      <ol>
        <li>
          <a>
            <span>1.</span> 
            <span>发布订阅模式</span>
          </a>
        </li>
        <li>
          <a>
            <span>2.</span> 
            <span>数据流</span>
          </a>
        </li>
        <li>
            <a href="#Vue中的解决方案">
              <span>3.</span> 
              <span>Vue中的解决方案</span>
            </a>
        </li>
      </ol>
    </nav>
  </aside>
  -->   
  <div class="page-container" style="background: #fff; box-shadow: 0 10px 30px rgba(0,0,0,0.2);">

    <div style="margin:35px">
        <h1 id="<%- page.title %>" class="page_title">
          <a href="#<%- page.title %>" class="headerlink" title="<%- page.title %>"></a>
          <%- page.title %>
        </h1>
        <div>
          <em class="page_meta">Written by </em>
          <a itemprop="name" href="<%- config.url %>" rel="author"><%- config.author %></a> 
          <em class="page_meta">,Last update
            <span class="post-time">on 
              <time datetime="<%- page.date %>" itemprop="datePublished"><script>var times=<%- page.date %>;var date = new Date(times).Format('yy-MM-dd hh:mm');document.write(date);</script></time>
            </span>
          </em>
          <span id="<%- url_for(page.path) %>" class="leancloud_visitors" data-flag-title="<%- page.title %>">
            <em class="post-meta-item-text" style="color:#55555587 !important">,Pageviews:</em>
            <i class="leancloud-visitors-count">loading</i>
          </span>
        </div>
        <hr style="margin-top: 0;border:1;border-top:1px solid #b0a71d !important">
        <%- page.content %>
        <script>
          var dom = document.getElementsByClassName('code');
          for(var i=0,len=dom.length; i<len; i++){
            dom[i].style.width = '750px';
          }
          var dom = document.getElementsByTagName('h1');
          for(var i=0,len=dom.length; i<len; i++){
            dom[i].className  += 'page_title';
          }
          var dom = document.getElementsByTagName('p');
          for(var i=0,len=dom.length; i<len; i++){
            dom[i].style.color = '#303333';
          }
          var dom = document.getElementsByTagName('a');
          for(var i=0,len=dom.length; i<len; i++){
            dom[i].style.color = '#2d96bd';
          }
          var dom = document.getElementsByTagName('img');
          for(var i=0,len=dom.length; i<len; i++){
            dom[i].className += ' img-responsive';
          }
          var dom = document.getElementsByTagName('blockquote');
          for(var i=0,len=dom.length; i<len; i++){
            dom[i].style.borderLeft = '5px solid #ddc06b';
            dom[i].style.backgroundColor = 'rgba(216, 221, 206, 0.49';
            dom[i].style.fontFamily = '微软雅黑,华文细黑,STHeiti,MingLiu';
            dom[i].style.fontSize = '13px';
          }
        </script>

        <br>
        <br>
        <hr>
        <script>
          window.onload = (function(){
              $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto;');
              prettyPrint(); 
          });
        </script>
        <p>评论区：</p>


        <% if (theme.valine && theme.valine.appid && theme.valine.appkey){ %>
        <section id="comments" class="comments" style="margin-left:0px !important">
          <style>
            .comments{margin:30px;padding:10px;background:#fff}
            @media screen and (max-width:800px){.comments{margin:auto;padding:10px;background:#fff}}
          </style>
          <%- partial('_plugins/valine', {
            key: page.slug,
            title: page.title,
            url: config.url+url_for(page.path)
          }) %>
        </section>
        <% } %>
    </div>
  </div>
    